<div class="content" ng-controller="ctrlCategorie">
	<div class="row">
		<div class="col-sm-6">
			<h1>Créer une catégorie</h1>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-9">
			<br>
			<br>

			<form id="createCategorie">
				<label>Nom catégorie :</label>
				<input id="nom" name="nom" class="form-control" type="text" ng-model="categorie.nomCategorie">
				<br>

				<label>Description catégorie :</label>
				<input id="desc" name="description" class="form-control" type="text" ng-model="categorie.descriptionCategorie">
				<br>

				<label>Nom de l'image :</label>
				<input  id="nomImage" name="nomImage" class="form-control" type="text" ng-model="categorie.imageCategorie">
				<br>

				<label>Ressource :</label>
				<input id="ressource" name="ressource" class="form-control" type="text" ng-model="categorie.ressource">
				<br>

				<button id="enregistreCategorie" class="btn btn-primary" ng-click="enregistrerCategorie()">Valider</button>
			</form>
		</div>
	</div>
</div>
